    <div class="couponContainer">
        <header class="couponHeader">
            <div class="couponHeaderWrap wrap">
                <div class="couponHeaderCloseBox">
                    <button class="couponPageCloseBtn">
                        <i class="ri-close-fill"></i>
                    </button>
                </div>
            </div>
        </header>
        <div class="couponContents">
            <div class="couponContentsWrap wrap">
                <button class="coupon">
                    <div class="couponWrap">
                        <div class="svgBox">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 90" style="enable-background:new 0 0 32 90;" xml:space="preserve">
                                <g>
                                    <path class="st0" d="M0,0v7.03C0.17,7.01,0.33,7,0.5,7c4.42,0,8,3.58,8,8s-3.58,8-8,8c-0.17,0-0.33-0.01-0.5-0.03v4.05
                                        C0.17,27.01,0.33,27,0.5,27c4.42,0,8,3.58,8,8s-3.58,8-8,8c-0.17,0-0.33-0.01-0.5-0.03v4.05C0.17,47.01,0.33,47,0.5,47
                                        c4.42,0,8,3.58,8,8s-3.58,8-8,8c-0.17,0-0.33-0.01-0.5-0.03v4.05C0.17,67.01,0.33,67,0.5,67c4.42,0,8,3.58,8,8s-3.58,8-8,8
                                        c-0.17,0-0.33-0.01-0.5-0.03V90h32V0H0z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="couponInfo">
                            <ul>
                                <li class="couponInfoTop">
                                    <ul>
                                        <li>
                                            <p class="couponPercent">
                                                15%
                                            </p>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>
                                                    <p class="couponTitle">
                                                        신기루잡화점 할인쿠폰
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="couponDate">
                                                        23.02.06 ~ 23.02.15
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="couponInfoBottom">
                                    <p class="couponChkTxt">
                                        <span class="couponChkMoney">10,000원 이상</span> 구매 시 사용 가능
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </button>
                <button class="coupon">
                    <div class="couponWrap">
                        <div class="svgBox">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 90" style="enable-background:new 0 0 32 90;" xml:space="preserve">
                                <g>
                                    <path class="st0" d="M0,0v7.03C0.17,7.01,0.33,7,0.5,7c4.42,0,8,3.58,8,8s-3.58,8-8,8c-0.17,0-0.33-0.01-0.5-0.03v4.05
                                        C0.17,27.01,0.33,27,0.5,27c4.42,0,8,3.58,8,8s-3.58,8-8,8c-0.17,0-0.33-0.01-0.5-0.03v4.05C0.17,47.01,0.33,47,0.5,47
                                        c4.42,0,8,3.58,8,8s-3.58,8-8,8c-0.17,0-0.33-0.01-0.5-0.03v4.05C0.17,67.01,0.33,67,0.5,67c4.42,0,8,3.58,8,8s-3.58,8-8,8
                                        c-0.17,0-0.33-0.01-0.5-0.03V90h32V0H0z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="couponInfo">
                            <ul>
                                <li class="couponInfoTop">
                                    <ul>
                                        <li>
                                            <p class="couponPercent">
                                                20%
                                            </p>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>
                                                    <p class="couponTitle">
                                                        게타상스 할인쿠폰
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="couponDate">
                                                        23.02.06 ~ 23.02.15
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="couponInfoBottom">
                                    <p class="couponChkTxt">
                                        <span class="couponChkMoney">12,000원 이상</span> 구매 시 사용 가능
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>