<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/client/img/favicon.ico">
  <title>
    소담: 소품을 담다
  </title>

  <!-- css -->
  <link rel="stylesheet" href="/client/css/font.css">
  <link rel="stylesheet" href="/client/css/reset.css">
  <link rel="stylesheet" href="/client/css/section.css">
  <link rel="stylesheet" href="/client/css/nav.css">
  <link rel="stylesheet" href="/client/css/coupon.css">

  <!-- remixicon css -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- Swiper's css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <!-- js -->
  <script src="/client/js/jquery.js"></script>
  <script src="/client/js/script.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- fontawesome js -->
  <script src="https://kit.fontawesome.com/17b2234095.js" crossorigin="anonymous"></script>