<%-include('../components/head.ejs') %>

    <!-- home css -->
    <link rel="stylesheet" href="/client/css/home.css">

</head>

<body class="body">
    <div class="container">
        <header>
            <div class="headerWrap wrap">
                <div class="headerTop">
                    <div class="headerLogo">
                        <ul>
                            <li>
                                <a href="#" class="svgBox">
                                    <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 360 499.7" style="enable-background:new 0 0 360 499.7;" xml:space="preserve">
                                        <path class="st0" d="M202.1,143.5C73.7,157.3,72.8,33.5,72.8,33.5c117-22.5,130.9,109,130.9,109"/>
                                        <path class="st0" d="M212.1,138.5c0,0-58-98.8,27.6-127.8C239.8,10.7,290,80.1,212.1,138.5z"/>
                                        <path class="st1" d="M144.6,293.9l-0.1-0.1c-0.1-0.2-0.3-0.3-0.4-0.5c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.3-0.4-0.4
                                            c-0.1-0.2-0.3-0.3-0.4-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.3-0.5-0.4l-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1
                                            c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.3-0.1-0.4-0.2c-0.2,0-0.3-0.1-0.5-0.2c-0.1-0.1-0.3-0.1-0.4-0.2c-0.1-0.1-0.3-0.2-0.4-0.2
                                            c-0.2-0.1-0.3-0.1-0.5-0.2c-0.1,0-0.3-0.1-0.4-0.1c-0.2,0-0.4-0.1-0.6-0.1c-0.1-0.1-0.3-0.1-0.4-0.1c-0.2-0.1-0.4-0.1-0.6-0.1
                                            c-0.1,0-0.3,0-0.4,0c-0.2,0-0.3,0-0.5,0s-0.3,0-0.5,0c-0.1,0-0.3,0-0.4,0c-0.2,0-0.4,0.1-0.6,0.1c-0.1,0.1-0.3,0.1-0.4,0.1
                                            c-0.2,0-0.4,0.1-0.6,0.1c-0.1,0-0.3,0.1-0.4,0.1c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.1-0.3,0.1-0.4,0.2
                                            c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.3,0.2-0.5,0.3c-0.1,0-0.1,0.1-0.2,0.1l-0.1,0.1
                                            c-0.2,0.1-0.3,0.3-0.5,0.4c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.2-0.3,0.3-0.4,0.4c-0.2,0.1-0.3,0.3-0.4,0.4c-0.1,0.1-0.2,0.2-0.3,0.3
                                            c-0.2,0.2-0.3,0.3-0.4,0.5l-0.1,0.1l-33.6,48c-3.2,4.5-2.1,10.7,2.4,13.9s10.7,2.1,13.9-2.4l25.5-36.4l25.4,36.4
                                            c3.2,4.5,9.4,5.6,13.9,2.4c4.5-3.1,5.6-9.3,2.6-13.9L144.6,293.9z"/>
                                        <path class="st2" d="M180.5,253.1l1.9,22.4C182.6,268,182,260.5,180.5,253.1z"/>
                                        <path class="st2" d="M324.5,149.7h-289c-14.1,0-25.5,11.4-25.5,25.5v289c0,14.1,11.4,25.5,25.5,25.5h289c14.1,0,25.5-11.4,25.5-25.5
                                            v-289C350,161.1,338.6,149.7,324.5,149.7z M176.3,436C-9.2,377.6,22.3,211.1,100,200.5c58.4-8,75.6,27.7,80.5,52.6l-0.2-2.6
                                            c0-63.6,112.6-78.2,135.5,3.1C354.4,390.6,176.3,436,176.3,436z"/>
                                        <path class="st1" d="M251,308.6c5.5,0,10-4.5,10-10s-4.5-10-10-10h-45.8c-5.5,0-10,4.5-10,10c0.1,0.7,0.1,1.4,0,2.1v45.9
                                            c0.1,5.9,4.3,10.9,10,12.1h45.9c5.5,0,9.9-4.5,9.9-10s-4.5-9.9-10-9.9l-35.9,0.1v-30.3H251z"/>
                                        <path class="st1" d="M184.6,274.9l-2.2-21c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5l2.2,21c0,0.8,0.7,1.5,1.5,1.5
                                            C184,276.3,184.6,275.7,184.6,274.9z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                |
                            </li>
                            <li>
                                홈
                            </li>
                        </ul>
                    </div>
                    <div class="headerBtn">
                        <ul>
                            <li>
                                <button type="button" class="couponBtn">
                                    <i class="ri-coupon-2-fill"></i>
                                </button>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-user-5-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="headerBottom">
                    <button class="sodamManualBtn" type="button">
                        <p>
                            '소담'은 이렇게 사용하세요!
                        </p>
                        <i class="fa-solid fa-circle-right"></i>
                    </button>
                </div>
            </div>
        </header>
        <div class="contents">
            <section id="homeCourse" class="wrap">
                <div class="secTitle">
                    <h2>
                        오늘은 <span>어디로</span> 갈까요?
                    </h2>
                </div>
                <div class="secContents">
                    <ul>
                        <li>
                            <button onClick="location.href='/course'">
                                <div class="homeCoursetxt">
                                    <ul>
                                        <li>
                                            <span>New</span> 경로
                                        </li>
                                        <li>
                                            나만의 소품샵 경로를 만들어보세요!
                                        </li>
                                    </ul>
                                </div>
                                <!-- Freepik -->
                                <img src="/client/img/newcourse.png" />
                            </button>
                        </li>
                        <li>
                            <button onClick="location.href='/course'">
                                <div class="homeCoursetxt">
                                    <ul>
                                        <li>
                                            <span>My</span> 경로
                                        </li>
                                        <li>
                                            내가 만든 경로를 확인해보세요!
                                        </li>
                                    </ul>
                                </div>
                                <!-- Freepik -->
                                <img src="/client/img/mycourse.png" />
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="homePick" class="wrap">
                <div class="secTitle">
                    <h2>
                        소담's <span>Pick!</span>
                    </h2>
                </div>
                <div class="secContents">
                    <a href="" class="homePickLink" target="_blank">
                        <ul>
                            <li>
                                <img src="" alt="">
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <h3 class="homePickName"></h3>
                                        <p class="homePickCategory"></p>
                                    </li>
                                    <li class="homePickAddress"></li>
                                </ul>
                            </li>
                        </ul>
                    </a>
                </div>
            </section>
            <section id="homeCategory" class="wrap">
                <div class="secContents">
                    <ul>
                        <li class="homeCategoryItem">
                            <div class="svgBox">
                                <i class="ri-plant-fill"></i>
                            </div>
                            <p>
                                인테리어
                            </p>
                        </li>
                        <li class="homeCategoryItem">
                            <div class="svgBox">
                                <i class="fa-solid fa-pen-fancy"></i>
                            </div>
                            <p>
                                문구사무
                            </p>
                        </li>
                        <li class="homeCategoryItem">
                            <div class="svgBox">
                                <i class="fa-solid fa-shirt"></i>
                            </div>
                            <p>
                                패션잡화
                            </p>
                        </li>
                        <li class="homeCategoryItem">
                            <div class="svgBox">
                                <i class="fas fa-wine-glass"></i>
                            </div>
                            <p>
                                식료품
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="homeYoutube">
                <div class="secTitle wrap">
                    <h2>
                        <span>소품샵</span> in YouTube
                    </h2>
                </div>
                <div class="secContents wrap">
                    <div class="swiper homeYoutubeSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="homeYoutubeVideo">
                                    <iframe width="100%" height="135" src="https://www.youtube.com/embed/9I6J_qyaPeo?start=572" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <div class="homeYoutubetxtWrap">
                                    <a href="https://www.youtube.com/watch?v=9I6J_qyaPeo" target="_blank">
                                        <ul>
                                            <li>
                                                채널
                                            </li>
                                            <li>
                                                |
                                            </li>
                                            <li>
                                                이밤yibam
                                            </li>
                                        </ul>
                                    </a>
                                    <div class="homeYoutubetxt">
                                        <i class="ri-pushpin-fill"></i>
                                        <p>
                                            rolled paint
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="homeYoutubeVideo">
                                    <iframe width="100%" height="135" src="https://www.youtube.com/embed/A5lSHrR1gfc?start=305" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <div class="homeYoutubetxtWrap">
                                    <a href="https://www.youtube.com/watch?v=A5lSHrR1gfc" target="_blank">
                                        <ul>
                                            <li>
                                                채널
                                            </li>
                                            <li>
                                                |
                                            </li>
                                            <li>
                                                다재로운영
                                            </li>
                                        </ul>
                                    </a>
                                    <div class="homeYoutubetxt">
                                        <i class="ri-pushpin-fill"></i>
                                        <p>
                                            게타상스 <span>→</span> object <span>→</span> 모남희
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="homeYoutubeVideo">
                                    <iframe width="100%" height="135" src="https://www.youtube.com/embed/_biMHN5EWmg?start=364" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <div class="homeYoutubetxtWrap">
                                    <a href="https://www.youtube.com/watch?v=_biMHN5EWmg" target="_blank">
                                        <ul>
                                            <li>
                                                채널
                                            </li>
                                            <li>
                                                |
                                            </li>
                                            <li>
                                                하양 Hayang
                                            </li>
                                        </ul>
                                    </a>
                                    <div class="homeYoutubetxt">
                                        <i class="ri-pushpin-fill"></i>
                                        <p>
                                            MOP <span>→</span> 해삐 <span>→</span> 나이스키친
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="homeYoutubeVideo">
                                    <iframe width="100%" height="135" src="https://www.youtube.com/embed/p-Nk36cbJBc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <div class="homeYoutubetxtWrap">
                                    <a href="https://www.youtube.com/watch?v=p-Nk36cbJBc" target="_blank">
                                        <ul>
                                            <li>
                                                채널
                                            </li>
                                            <li>
                                                |
                                            </li>
                                            <li>
                                                김나영의 nofilterTV
                                            </li>
                                        </ul>
                                    </a>
                                    <div class="homeYoutubetxt">
                                        <i class="ri-pushpin-fill"></i>
                                        <p>
                                            모남희
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%-include('../sub/coupon.ejs') %>
    <script>
        $('.couponBtn').click(function(){
            $('.couponContainer').addClass('couponPageOn');
            $('.body').addClass('scrollLock');
        });
        
        $('.couponPageCloseBtn').click(function(){
            $('.couponContainer').removeClass('couponPageOn');
            $('.body').removeClass('scrollLock');
        });
    </script>
    
    <!-- Swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Swiper js -->
    <script>
        var swiper = new Swiper(".homeYoutubeSwiper", {
            slidesPerView: 1.2,
            spaceBetween: 8,
            loop: true,
            breakpoints: {
                480: {
                    slidesPerView: 1.5,
                    spaceBetween: 16,
                },

                640: {
                    slidesPerView: 1.7,
                    spaceBetween: 16,
                },

                768: {
                    slidesPerView: 2,
                    spaceBetween: 24,
                },

                1024: {
                    slidesPerView: 3,
                    spaceBetween: 24,
                }
            }
        });
    </script>
        

<%-include('../components/nav.ejs') %>